.[1-9]
*.la
*.lo
*.o
*.pyc
*.tar.gz
*~
.*swp
.deps
.dirstamp
.libs
Makefile
Makefile.in
TAGS
ar-lib
aclocal.m4
autom4te.cache
autoscan.log
build-aux
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
doc/doxygen/Doxyfile
doc/doxygen/doxygen.warnings
doc/doxygen/doxygen-warnings
doc/doxygen/doxygen-warnings.txt
doc/doxygen/html
doc/doxygen/latex
install-sh
libtool
ltmain.sh
missing
src/*.pb-c.[ch]
include/stamp-h1
src/cppip
tags
